{% extends 'cal/base.html' %}

{% block header %}
{% if request.user.is_authenticated %}
<strong><a href="{%url 'cal:index' %}" >Agendamento do Garagem</a></strong>
{% if request.user.is_superuser %}
<span >Olá, ADM {{request.user}}</span>
{% else %}
<span >Olá, {{request.user}}</span>
{% endif %}
<span ><a href="{% url 'cal:logout' %}">Logout</a></span>
{% endif %}
{% endblock %}



{% block content %}
{% if request.user.is_authenticated %}
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Mês anterior </a>
	<a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Próximo mês </a>
	<a class="btn btn-info right" href="{% url 'cal:event_new' %}"> Novo evento </a>
</div>

{{ calendar }}


{% else %}
<h1>Você não tem acesso a essa área!</h1>
<h2>Faça login para ver os agendamentos</h2>
<h2><a href="{% url 'cal:login' %}">Login</a></h2>
{% endif %}

{% endblock %}