{% extends 'cal/base.html' %}

{% block title %}
Agendamento:
{% endblock %}

{% block content%}

<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value="Criar Usuário">
</form>
<p>Já tem uma conta? <a href="{% url 'cal:login'%}">Faça login</a></p>
{% endblock %}